{% extends "temp.html" %}

{% block content%}

<!-- Project name -->
<h1 class = "heading" style = "display:block;margin:2vw; color: darkcyan;">Self Balancing Robot</h1>

<!-- List of strategies -->
<div>
    <ul id = "stratls">
        <li ><a href="/projects/self_balance/desc">Without a controller</a></li>
        <li><a href="/projects/self_balance/lqr">LQR</a></li>
    </ul>
</div>

<!-- Strategy Description-->

<div style="background-color: white;padding:1vw 1vw;">

    <!-- Heading for the strategy is use -->
    <h3 class = "heading" style=" color: black;">{% block heading %} {% endblock heading %}</h3>
    
<!-- Content  -->
<div style = "display:block; width:100%; align-items: center;">
    
    <!-- Animation canvas -->
    <div style = "text-align: center;margin-top: 1.5vw;">
        <p class = "heading" >Animation</p>
        <canvas id = "canvas_sb"  style=" border: 0.2vw solid black; border-radius: 0.4vw;text-align: center;"></canvas>
        <div style = " text-align: center;">
            <button id = "play" data-value="{{strategy}}"> Start Simulation</button>
        </div>
    </div>

    {% block description %}

    {% endblock description %}
</div>

</div>

{% block scripts %}
<script type="module" src = "/static/script/sb.js?v=1"></script>
{% endblock scripts %}
{% endblock content%}