#stratls{
    /* list-style: disc; */
}

#stratls li{
    border-bottom: 0.2vw solid black;
    padding: 10px;
    font-size: 1.2vw;
    text-align: center;
}
#stratls li a{
    text-decoration: none;
    color:black;
}

#stratls li:hover{
    cursor:pointer;
    font-weight:bold;
}

.heading{
    font-size: 2vw;
}

#play{
    background-color: darkcyan; 
    color:white; 
    padding: 0.5vw; 
    font-size: 1vw;
    margin: 10px;
    border-radius: 1vw;
}
#play:hover{
    background-color: teal;
    cursor:pointer;
}
#play:active{
    background-color: black;
    cursor:wait;
}

@media screen and (max-width:800px){
    #stratls li{
        font-size: 3vw;
    }

    .heading{
        font-size: 5vw;
    }
    #play{
        padding: 1vw;
        font-size: 4vw;
    }
}