{% extends "temp.html" %}

{% block content %}
<section class="firstSection">
            <div class="leftSection">
                <span>Hi, My name is <span class = "cyan">Rishab Bansal</span> and I have created this website to showcase my latest portfolio.</span>
                <hr>
                <hr>
                <ul class="list">
                    <!-- <li><a href="/resume" class = "cyan">Resume</a></li>
                    <hr> -->
                    <li><a href="/projects" class = "cyan">Projects</a></li>
                </ul>
                
            </div>
            
            <div class="rightSection">
                <img src="/static/images/front.png" alt="">
            </div>
        </section>
{% endblock content %}