{% extends "temp.html" %}

{% block content %}

<div style="margin: 20px; font-size: 2vw; text-decoration: none;">
    
    <ul style="list-style: disc; list-style-position: inside; font-size: 1.4vw; margin-top: 20px;">
        <li><a style = "text-decoration:none; color:black;" href="projects/self_balance/desc">Self Balancing Robot</a></li>
        <!-- <li><a href="">2D Heat sink</a></li>
        <li><a href="">Genetic Algorithm</a></li> -->
        <!-- <li><a href="">Drone</a></li> -->
    </ul>

</div>
{% endblock content%}